{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav>
  <div class="menu">
    <div class="logo">
      <a href="#">MessageMate</a>
    </div>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'index' %}">Sign to Text Convertor</a></li>
      <li><a href="{% url 'animation' %}"> Text To Sign Convertor</a></li>
      <li><a href="{% url 'signup' %}">Singup</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
  </div>
</nav>
<div class="img"></div>
<div class="center">
  <div class="title">My EYE is my EAR. My HAND is my MOUTH</div>
  
  <div class="btns">
    <button ><a href="{% url 'animation' %}">Get Started</button>
  </div>
</div>
  
{% endblock %}
